<div class="container">
	<h3>Products</h3>

    <div class="well" style="margin-bottom: 10px">
	    <h4 style="float:left">Filter By Brand:</h4>
	    <button 
	    	class="btn btn-primary pull-right"
    		ng-class="{ 'btn-warning': brand === list.filter.brand}" 
    		style="margin:5px" 
    		ng-repeat="brand in list.brands" 
    		ng-click="list.filter.brand = brand; list.filterProducts(list.filter)">{{brand}}
	    </button>
	    <br clear="all" />

	    <h4 style="float:left">Filter By Average Rating:</h4>
	    <span 
	    	class="glyphicon pull-right"
	    	style="margin:5px"
	    	ng-class="list.filter.rating >= rating ? 'glyphicon-star': 'glyphicon-star-empty'" 
	  		ng-repeat="rating in list.ratings | orderBy:'id':true" 
	    	ng-click="list.filter.rating = rating; list.filterProducts(list.filter)"
	    >
	    </span>

	    <br clear="all" />
	    <button ng-click="list.filter.brand = ''; list.filter.rating = ''; list.filterProducts(list.filter)" class="btn btn-primary">Reset Filters</button>
    </div>

	<ul class="list-group">
		<li 
			style="margin:5px;" 
			ng-repeat="product in list.products" 
			class="list-group-item"
		>
			<product-list-item product="product"></product-list-item>
		</li>
	</ul>

	<h4 class="well" ng-show="!list.products.length">There are no products that match your filter settings.</h4>
</div>